<mat-tab-group>
  <mat-tab label = "Members management" *ngIf = "userMember.isAdmin">
    <mat-list>
      <mat-list-item *ngFor = "let member of group.groupMembers">
        <div *ngIf = "member.memberUsername !== userMember.memberUsername">
          <h3>{{ member.memberUsername }}</h3>
          <button *ngIf = "!member.isAdmin" (click) = "onMakeAdmin(member.memberUsername)">Make administrator</button>
          <button *ngIf = "userMember.isAdmin" (click) = "onRemoveFromGroup(member.memberUsername)">Remove from group</button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label = "Invite collaborators">
    <mat-list>
      <mat-list-item *ngFor = "let collaboration of privateCollaborations">
        <div *ngIf = "!isInGroup(getCollaboratorUsername(collaboration)) && !hasBeenInvited(getCollaboratorUsername(collaboration))">
          <p> {{ getCollaboratorUsername(collaboration) }} </p>
          <button mat-raised-button (click) = "onInviteToGroup(getCollaboratorUsername(collaboration))">Invite to group</button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label = "Delete group" *ngIf = "userMember.isAdmin"></mat-tab>
</mat-tab-group>
