Web Collaboration Tool/Front-end/src/coverage/Edge 18.18363.0 (Windows 10.0.0)/base.css
Web Collaboration Tool/Front-end/src/coverage/Edge 18.18363.0 (Windows 10.0.0)/block-navigation.js
Web Collaboration Tool/Front-end/src/coverage/Edge 18.18363.0 (Windows 10.0.0)/index.html
Web Collaboration Tool/Front-end/src/coverage/Edge 18.18363.0 (Windows 10.0.0)/prettify.css
Web Collaboration Tool/Front-end/src/coverage/Edge 18.18363.0 (Windows 10.0.0)/prettify.js
Web Collaboration Tool/Front-end/src/coverage/Edge 18.18363.0 (Windows 10.0.0)/sort-arrow-sprite.png
Web Collaboration Tool/Front-end/src/coverage/Edge 18.18363.0 (Windows 10.0.0)/sorter.js

*/.idea/*
.idea/*
package-lock.json