<h2>{{ resultMessage }}</h2>
<form [formGroup] = "profileSettingsFormGroup" (ngSubmit) = "onUpdateProfile()">
  <mat-form-field>
    <input matInput placeholder = "You may enter your real name if you wish: " name = "name" formControlName = "name" style = "width: 350px;">
  </mat-form-field><br>

  <mat-form-field>
    <input matInput placeholder = "You may enter your real surname if you wish: " name = "surname" formControlName = "surname" style = "width: 350px;">
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>You may select your gender if you wish: </mat-label>
    <mat-select formControlName = "gender" style = "width: 350px;">
      <mat-option value = "male">Male</mat-option>
      <mat-option value = "female">Female</mat-option>
      <mat-option value = "non-binary">Non-binary</mat-option>
    </mat-select>
  </mat-form-field><br>

  <mat-form-field>
    <input matInput placeholder = "You may enter your institution's name if you wish: " name = "institution" formControlName = "institution" style = "width: 350px;">
  </mat-form-field><br>

  <button mat-raised-button color="primary" type = "submit" [disabled] = "isUpdateProfileButtonDisabled()">Save</button>
</form>
