<mat-horizontal-stepper labelPosition="bottom" linear>
  <mat-step label="Choose File">
    <mat-form-field>
      <ngx-mat-file-input placeholder="PDF files only" required [accept]="'.pdf'" (change)="onFileChange($event)"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <button mat-button matStepperNext color="primary" (click)="onUpload()">Next</button>
  </mat-step>

  <mat-step label = "Choose text and image">
    <div *ngIf="uploading">
      <mat-spinner></mat-spinner>
      <p>Processing file....</p>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Select only the text you need</mat-card-title>
        <mat-card-subtitle>When you are ready click next</mat-card-subtitle>
        <mat-card-subtitle>Please note that an image, if any, can be selected ONLY after text has been selected</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group *ngIf="!uploading" (selectedTabChange) = "onPageChange($event)">
          <mat-tab label = "Page {{ images.indexOf(image) + 1 }}" *ngFor = "let image of images">
            <mat-error *ngIf = "userWarning">{{ userWarning }}</mat-error>
          </mat-tab>
        </mat-tab-group>
        <div [style] = "'max-width: 750px; max-height: 1050px;'">
          <image-cropper *ngIf = "currentImage" [imageBase64] = "currentImage" [maintainAspectRatio]="false" [aspectRatio] = "1"
                         [resizeToWidth]="0" format="png" (imageCropped) = "onCrop($event, images.indexOf(currentImage))">
          </image-cropper>
        </div>
        <div>
          <mat-checkbox (change) = "onSelectionTypeChange()">Selecting Image</mat-checkbox>
          <button mat-button matStepperPrevious color="accent">Back</button>
          <button mat-button color = "accent" (click) = "onNextQuestion()">Next question</button>
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </mat-card-content>

    </mat-card>
  </mat-step>

<!--    <mat-step label="Select Text">-->
<!--        <mat-card>-->
<!--            <mat-card-header>-->
<!--                <mat-card-title>Select only the text you need</mat-card-title>-->
<!--                <mat-card-subtitle>When you are ready click next</mat-card-subtitle>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--                <div style="max-width: 750px; max-height: 1050px">-->
<!--                    <image-cropper-->
<!--                        [imageChangedEvent]="imageChangedEvent"-->
<!--                        [imageBase64]="imageBase64"-->
<!--                        [maintainAspectRatio]="false"-->
<!--                        [aspectRatio]="1"-->
<!--                        [resizeToWidth]="0"-->
<!--                        format="png"-->
<!--                        (imageCropped)="imageCropped($event)">-->
<!--                    </image-cropper>-->
<!--                </div>-->
<!--            </mat-card-content>-->
<!--            <mat-card-actions>-->
<!--                <button mat-button matStepperPrevious color="accent">Back</button>-->
<!--                <button mat-button matStepperNext color="primary" (click)="selectTextFromPage()">Next</button>-->
<!--            </mat-card-actions>-->
<!--        </mat-card>-->
<!--    </mat-step>-->

<!--    <mat-step label="Select Image" optional>-->
<!--        <mat-card>-->
<!--            <mat-card-header>-->
<!--                <mat-card-title>Only select an image or diagram if it is necessary!</mat-card-title>-->
<!--                <mat-card-subtitle>You can skip this step if you want by clicking next.</mat-card-subtitle>-->
<!--                <button mat-button mat-raised-button matStepperNext color="primary">Skip</button>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--                <div style="max-width: 750px; max-height: 1050px">-->
<!--                    <image-cropper-->
<!--                        [imageChangedEvent]="imageChangedEvent"-->
<!--                        [imageBase64]="imageBase64"-->
<!--                        [maintainAspectRatio]="false"-->
<!--                        [aspectRatio]="1"-->
<!--                        [resizeToWidth]="0"-->
<!--                        format="png"-->
<!--                        (imageCropped)="onCrop($event)">-->
<!--                    </image-cropper>-->
<!--                </div>-->
<!--            </mat-card-content>-->
<!--            <mat-card-actions>-->
<!--                <button mat-button matStepperPrevious color="accent">Back</button>-->
<!--                <button mat-button matStepperNext color="primary" (click)="selectImageFromPage()">Next</button>-->
<!--            </mat-card-actions>-->
<!--        </mat-card>-->
<!--    </mat-step>-->

<!--    <mat-step label="Preview Results">-->
<!--        <mat-card>-->
<!--            <mat-card-header>-->
<!--                <mat-card-title>-->
<!--                    The text from the area you selected will appear here.-->
<!--                </mat-card-title>-->
<!--                <mat-card-subtitle>-->
<!--                    You can review and edit it here before posting to the forum.-->
<!--                </mat-card-subtitle>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content style="display: flex">-->
<!--                <div [innerHTML]="extractedText" contenteditable="true" style="display: block; padding: 20px;-->
<!--                background-color: lightgrey; border-radius: 10px"></div>-->
<!--            </mat-card-content>-->
<!--                <mat-card-content *ngIf="imageRequired">-->
<!--                    <h4 class="mat-subheading-2">Diagrams or pictures</h4>-->
<!--                    <h5 class="mat-subheading-1">The following images were detected on the page. Choose one before-->
<!--                        posting to the forum.</h5>-->
<!--                    <mat-tab-group #tabImage>-->
<!--                        <div *ngFor="let extractedImage of extractedImages">-->
<!--                            <mat-tab label="Image {{extractedImages.indexOf(extractedImage) + 1}}">-->
<!--                                <img class="img-fluid img-thumbnail" [src]="extractedImage" style="height: auto;-->
<!--                                width:auto;" alt="">-->
<!--                                <div>-->
<!--                                    <button mat-button matStepperPrevious color="accent">-->
<!--                                        Back-->
<!--                                    </button>-->
<!--                                    <button mat-button matStepperNext color="primary"-->
<!--                                            (click)="postToForum(extractedImages[tabImage.selectedIndex])">-->
<!--                                        Post to Forum-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </mat-tab>-->
<!--                        </div>-->
<!--                    </mat-tab-group>-->
<!--                </mat-card-content>-->

<!--            <mat-card-actions *ngIf="!imageRequired">-->
<!--                <button mat-button matStepperPrevious>Back</button>-->
<!--                <button mat-button matStepperNext (click)="postToForum(null)">Post to Forum</button>-->
<!--            </mat-card-actions>-->
<!--        </mat-card>-->
<!--    </mat-step>-->
<!--</mat-horizontal-stepper>-->


<!--------------------------------------------------------------------------------------------------------------->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 offset-md-3">-->
<!--            <h3>Choose File</h3>-->
<!--            <div class="form-group">-->
<!--                <input type="file" name="image" (change)="fileProgress($event)" />-->
<!--            </div>-->
<!--            <mat-spinner *ngIf="uploading"></mat-spinner>-->
<!--            <div class="form-group">-->
<!--                <button class="btn btn-primary"  (click)="uploadPDF()">Submit</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <h1 class="my-4 text-center text-lg-left">Select a page</h1>-->
<!--    <div class="row">-->
<!--        <div class="col-lg-6 col-md-4 col-xs-6" *ngFor="let image of images">-->
<!--            <a href="#" class="d-block mb-4 h-100">-->
<!--                <img class="img-fluid img-thumbnail" [src]="image" style="height: 200px; width:-->
<!--                            140px;" (click)="selectPageToCrop(image, images.indexOf(image))">-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="row" style="margin-top: 5%;">-->
<!--        <div class="text-center col-md-8">-->
<!--            <h5>Crop Image</h5>-->
<!--            <image-cropper-->
<!--                [imageChangedEvent]="imageChangedEvent"-->
<!--                [imageBase64]="imageBase64"-->
<!--                [maintainAspectRatio]="false"-->
<!--                [aspectRatio]="1"-->
<!--                [resizeToWidth]="0"-->
<!--                format="png"-->
<!--                (imageCropped)="imageCropped($event)">-->
<!--            </image-cropper>-->
<!--        </div>-->
<!--        <div class="text-center col-md-4">-->
<!--            <h5>Preview</h5>-->
<!--            <img [src]="croppedImage" alt="preview"/>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <button class="btn btn-primary"  (click)="cropImage()">Crop</button>-->
<!--    </div>-->
<!--    <div *ngIf="extractedText">-->
<!--        <br>-->
<!--            <p>-->
<!--                {{extractedText}}-->
<!--            </p>-->
<!--        <hr>-->
<!--        <p>If your question requires an image or diagram, please check the box!</p>-->
<!--        <mat-checkbox color="primary">Image required</mat-checkbox>-->
<!--        <div>-->
<!--            <div class="col-lg-6 col-md-4 col-xs-6" *ngFor="let extractedImage of extractedImages">-->
<!--                These images were found on the page. Please select the required image.-->
<!--                If the only image available is of the full page please select it and crop out the section required.-->
<!--                <a href="#" class="d-block mb-4 h-100">-->
<!--                    <img class="img-fluid img-thumbnail" [src]="extractedImage" style="height: 200px; width:-->
<!--                            140px;" (click)="selectImage(extractedImage, extractedImages.indexOf(extractedImage))">-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
