<mat-horizontal-stepper labelPosition="bottom" linear>
  <mat-step label="Choose File">
    <mat-form-field>
      <ngx-mat-file-input placeholder="PDF files only" required [accept]="'.pdf'" (change)="onFileChange($event)"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <button mat-button matStepperNext color="primary" (click)="onUpload()">Next</button>
  </mat-step>

  <mat-step label = "Choose text and image">
    <div *ngIf="uploading">
      <mat-spinner></mat-spinner>
      <p>Processing file....</p>
    </div>
    <mat-card *ngIf="!uploading">
      <mat-card-header>
        <mat-card-title>Select only the text you need</mat-card-title>
        <mat-card-subtitle>When you are ready click next</mat-card-subtitle>
        <mat-card-subtitle>Please note that an image, if any, can be selected ONLY after text has been selected</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group (selectedTabChange) = "onPageChange($event)">
          <mat-tab label = "Page {{ paper.pages.indexOf(page) + 1 }}" *ngFor = "let page of paper.pages">
            <mat-error *ngIf = "userWarning">{{ userWarning }}</mat-error>
          </mat-tab>
        </mat-tab-group>
        <div id = "cropper-container">
          <image-cropper *ngIf = "currentPage" [imageBase64] = "'data:image/png;base64,' + currentPage.pageOriginal" [maintainAspectRatio]="false" [aspectRatio] = "1"
                         [resizeToWidth]="0" format="png" (imageCropped) = "onCrop($event, paper.pages.indexOf(currentPage))">
          </image-cropper>

          <mat-checkbox (change) = "onSelectionTypeChange()">Selecting Image</mat-checkbox>
          <button mat-button matStepperPrevious color="accent">Back</button>
          <button mat-button color = "accent" (click) = "onNextQuestion()">Next question</button>
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-step>
