<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click) = "sidenav.toggle()">menu</mat-icon>
    </button>
    <span>Web Collaboration Tool: Preview</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode = "side" role = "navigation">
    <mat-nav-list *ngIf = "getUsername()">
      <a mat-list-item [routerLink] = "['/user', getUsername()]">Profile</a>
      <a mat-list-item routerLink = "/collaborations">Private collaborations</a>
      <a mat-list-item routerLink = "/groups">Group collaborations</a>
      <a mat-list-item routerLink = "/notifications">Notifications</a>
      <a mat-list-item routerLink = "/settings">Settings</a>
      <a mat-list-item routerLink = "/forum">Forum</a>
      <a mat-list-item (click) = "logout()">Log Out</a>
    </mat-nav-list>
    <mat-nav-list *ngIf = "!getUsername()">
      <a mat-list-item routerLink = "/">Home</a>
      <a mat-list-item routerLink = "/forum">Public forum</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>

<app-notification *ngIf = "username"></app-notification>
