<h1>Create a new group: </h1>
<form [formGroup] = "newGroupForm" (ngSubmit) = "onSubmit()">
  <mat-error>{{ createGroupError }}</mat-error>
  <mat-form-field>
    <input matInput placeholder = "Enter the title of your group: " formControlName = "title">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder = "Enter the description of your group: " formControlName = "description">
  </mat-form-field><br>
  <button mat-raised-button color="primary"  [disabled] = "!newGroupForm.valid"type = "submit">Create new group</button>
</form>
