<mat-card-content>
  {{ query ? query.queryData.contents : null }}
   <section id = "ratingSection">
      <button mat-raised-button (click) = "onUpvote(query.id)">
        <i class = "material-icons">arrow_upward</i>
      </button><br>
      {{ query ? query.queryData.rating : null }}<br>
      <button mat-raised-button (click) = "onDownvote(query.id)">
        <i class = "material-icons">arrow_downward</i>
      </button>
    </section>

    <div *ngIf = "query">
      <div *ngFor = "let query of query.children">
        <app-query-container [query] = "query"></app-query-container>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button (click) = "onRespond()">Respond</button>
    <form [formGroup] = "queryResponse" *ngIf = "isReplyVisible" (ngSubmit) = "onSubmit(query.id)">
        <mat-form-field>
          <textarea matInput placeholder = "Enter your response..." name = "response" formControlName = "response"></textarea>
        </mat-form-field>

      <button mat-raised-button type = "submit">Respond</button>
    </form>
  </mat-card-footer>
