<mat-card>
  <mat-error>{{ errorMessage ? errorMessage : null }}</mat-error>
  <mat-card-header>
    <mat-card-title> {{ query ? query.title : null }} </mat-card-title>
    <mat-card-subtitle> {{ query ? query.subtitle : null }} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="query-text">{{ query.contents }}</p>
    <span class="mat-caption">Asked by:&nbsp;</span>
    <a [routerLink] = "['/user', query ? query.username : '']"> {{ query.username }} </a>
  </mat-card-content>

  <mat-card-content *ngFor = "let response of query.responses">
    <app-query-container [response] = "response"></app-query-container>
    <span class="mat-caption">Posted by:&nbsp;</span>
    <a [routerLink] = "['/user', response ? response.username : '']"> {{ response.username }} </a>
  </mat-card-content>

  <mat-card-footer>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>reply</mat-icon>
          &nbsp;Enter your response...
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup] = "queryResponseForm" (ngSubmit) = "onSubmit()">
        <mat-form-field>
          <mat-label>Response text</mat-label>
          <textarea class="response-textarea" matInput placeholder = "Enter your response..." name = "response"
                    formControlName = "response"></textarea>
        </mat-form-field>
        <mat-action-row>
          <button mat-raised-button color="primary" type = "submit" [disabled] = "!queryResponseForm.valid">Respond</button>
        </mat-action-row>
      </form>

    </mat-expansion-panel>
  </mat-card-footer>
</mat-card>
