<mat-list>
  <mat-error>{{ resolverError }}</mat-error>
  <mat-card *ngFor = "let response of userResponses">
    <mat-card-header>
      <mat-icon mat-card-avatar>forum</mat-icon>
      <mat-card-title> {{ getOwnerUsername(response) }} </mat-card-title>
      <mat-card-subtitle>Created by: {{ getOwnerUsername(response) }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ response.contents }}</p>
    </mat-card-content>
    <mat-card-footer>
      <p>Rating: {{ response.rating }}</p>
    </mat-card-footer>
  </mat-card>
</mat-list>
