.loggedInUserMessage
{
  float: right;
  color: blue;
}

.otherUserMessage
{
  float: left;
  color: red;
}

#messageForm
{
  margin-top: 20%;
}

.chat-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}
